run = "npm install && npm run build && npm run start"
entrypoint = "server.ts"
modules = ["nodejs-20", "web", "nix"]

[nix]
channel = "stable-25_05"

[env]
NODE_ENV = "production"

[deployment]
run = ["sh", "-c", "npx prisma db push && npm run start"]
build = ["sh", "-c", "npm install && cp src/server/database/db-postgres.ts src/server/database/db.ts && npx prisma generate && npm run build"]
deploymentTarget = "cloudrun"
publicDir = "dist/public"

[[ports]]
localPort = 3000
externalPort = 80

[agent]
expertMode = true
